**/node_modules
**/.next
**/dist
**/out
**/out-test
**/cdk.out
**/tsconfig.tsbuildinfo
**/.turbo
.git
.github
.husky
.vscode
.claude
tmp
tests
scripts
packages/cdk
packages/functions
packages/web/public/ical
*.log
.DS_Store
